.shop-catalogue {

   
    &-image {
        position: relative;
        width:30rem;
        height:50rem;

        &-img {
            width:100%;
            height:100%;
        }
    }

    &-btn {
        position: absolute;
        font-size: 2rem;
        text-transform: uppercase;
        top:40%;
        left:50%;
        transform:translate(-50%, 50%);
        font-family: inherit;
        padding:1rem 4rem;
        border:none;
        background-color: #000;
        color:#eee;

        &:hover {
            background-color: rgba(#000,.7);
            cursor: pointer;
        }

    }
}