.shop-category {
    padding:10rem;
    margin-top:-2rem;
    background-color: #eee;
    
    &-heading {
        text-align: center;
        text-transform: capitalize;
        font-size: 3rem;
        margin-bottom: 5rem;
    }

    &-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;   
    }
}